<!doctype html>
<html lang="en">
<head>
	<title>House</title>
	{% include "./components/html_top.html" %}
</head>
<body>
{% include "./components/navbar.html" %}
	<main role="main" class="container">
		<ul class="list-group list-group-flush">
			{% for key, value in zillow_info.items %} 
			<li class="list-group-item">{{key}} - {{value}}</li>
			{% endfor %}
			{% for key, value in trulia_info.items %} 
			<li class="list-group-item">{{key}} - {{value}}</li>
			{% endfor %}
			{% for key, value in realtor_info.items %} 
			<li class="list-group-item">{{key}} - {{value}}</li>
			{% endfor %}
		</ul>
	</main><!-- /.container -->
	{% include "./components/html_bottom.html" %}
</body>
</html>