<!doctype html>
<html lang="en">
<head>
	<title>Home</title>
	{% include "./components/html_top.html" %}
</head>
<body>
{% include "./components/navbar.html" %}
	<main role="main" class="container">
		<form action="" method="post" class="form-inline md-form form-sm active-cyan-2">
			{% csrf_token %}
			<i class="fa fa-search" aria-hidden="true"></i>
			<input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search" name="search">
		</form>
	</main><!-- /.container -->
	{% include "./components/html_bottom.html" %}
</body>
</html>